<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.tveni.locvani"
		versionCode="2"
		versionName="1.1" 
        version   = "1.0.1">

    <!-- versionCode is optional and Android only -->

    <name>locvani</name>

    <description>
        locvani mxedrulad da xucurad. 
    </description>

    <author href="http://tveni.ge" email="info@tveni.ge">
        Shota (Bachana) Tskhvitava
    </author>



<preference name="permissions" value="none"/>

</widget>
